controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

# Ajoute ce bloc pour que le login fonctionne :
api_login_check:
    path: /api/login_check
